.pagee3{
height: 90vh;
  position:relative ;
  background-color: black;
}
.how{
  display: flex;
  line-height: 5em;
  justify-content: center;
  font-size: xxx-large;
  color:#fff;
  font-weight: 700;
}
.page3main{
    display:flex;
    position: relative;
    justify-content: space-around;
    /* cursor: none; */
  }
  .left1{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    color: #fff;
    font-weight: 600;
    font-size: xx-large;
    align-items: center;
    justify-content: flex-end;
  
}
.right1{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  color: #fff;
  font-weight: 600;
  font-size: xx-large;
  align-items: center;
  justify-content: flex-end;
  /* margin-right: 70px; */
  }
  .owner{
    height: 30vh;
    border-radius: 50%;
  }
  .owner:hover{
    transition: 400ms;
    height: 31vh;
  }